body {
    height: 100%;
    width: 100%;
  }
  .Name{
    margin-left:20px;
  }

    
  .address {
    margin-top: 30px;
    margin-right: 100px;
    float: right;

  }


  .Employment {
    height: 40%;
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
  }
  .Education {
    width: 28%;
    float: right;
    margin-left: 30px;
    margin-right: 30px;
    
    margin-top: 20px;
    
  }


  h2 {
    color: blue;
  }


  .first-p{
    margin-left: 20px;
    font-style: italic;
  }


  div {
    display: inline-block;
  }


  .References {
    width: 28%;
    float: left;
    margin-left: 20px;
   
  }
  .Courses-Attended {
    margin-left: 20px;
    width: 28%;
    
    float: left;
  }
  .Computer-Skills {
    float: right;
    width: 33%;
  
  }
  .Additional-Information {
    width: 100%;
    margin-left: 20px;
  }